@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Uses system font-stack until Poppins loads */
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
}
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;

  padding: 0rem 5vw;

  /* 👇 Mess with this to get different bg-colors (min: 0, max: 360) */
  --hue: 180;

  background-color: hsl(var(--hue), 100%, 90%);
  color: hsl(0, 0%, 10%)
}
a {
  text-decoration: none;
  color: currentColor;
  font-weight: bold;
}
b { font-weight: 700; }
p { font-size: 1rem; }
p.big { font-size: 1.25rem; }
h1, h2, h3, h4, h5, h6 { line-height: 1; margin-bottom: 0.5rem; }
h1 { font-size: 4rem; }
h2 { font-size: 3.5rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2.5rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.5rem; }
hr { border: none; width: 80%; height: 0.25rem; margin: 1rem 0; background-color: hsl(0, 0%, 10%); }

.bg-secondary {
  background-color: hsl(var(--hue), 100%, 85%);
}

button, .btn {
  font: inherit;
  font-weight: 700;
  cursor: pointer;
  border: none;
  color: currentColor;
  padding: 0.25rem 0.5rem;
  background-color: hsl(var(--hue), 100%, 50%);
}
button:focus, .btn:focus { outline: none; }
button:focus-visible, .btn:focus-visible { transform: scale(1.05); }

.highlight { font-weight: 700; }

body > * {
  width: 100%;
  padding: 2.5rem 5vw;
}

body > * + * {
  padding-top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > img {
  width: 4rem;
  height: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.bg-gmail {
  background-color: #D14836;
}
.bg-github {
  background-color: #181717;
}
.bg-linkedin {
  background-color: #0077B5;
}
main > #social {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main > #social > .social-item + .social-item {
  margin-left: 0.5rem;
}
main > #social > .social-item {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
main > #social > .social-item > svg {
  fill: white;
  width: 1rem;
  height: 1rem;
}
main > section {
  width: 100%;
  padding: 2rem 0;
}
main > section + section {
  padding-top: 0;
}

.card {
  padding: 1rem 0;
}
.card-with-bg {
  padding: 1rem;
}
.card + .card {
  padding-top: 0;
}
.card > *:not(h6) {
  padding: 0.25rem 0;
}
.card-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* .card-actions > .card-action {} */
.card-actions > .card-action + .card-action {
  margin-left: 0.25rem;
}
.card-desc {
  color: hsl(0, 0%, 30%);
}
/* .card-content {} */
